<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký | Transport</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/front/img/favicon.png}">
    <link rel="stylesheet" th:href="@{/resources/back/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/resources/back/bootstrap-icon/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/resources/back/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/resources/back/css/jquery.mCustomScrollbar.min.css}">
    <link rel="stylesheet" th:href="@{/resources/back/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/back/css/style.css}">

    <style>
        .has-icon-left input:focus + .form-control-icon {
            color: #86b7fe;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="form-area" style="background: url(/resources/front/img/bg/breadcrumb_bg.jpg)">
        <div class="form-row" style="width: 500px;">
            <div class="form-panel" style="background: #fff; border: 1px solid #2c79ff">
                <div class="logo mb-4">
                    <a href="/home">
                        <img th:src="@{/resources/front/img/logo/logo_black.png}" style="width: 140px" alt="logo">
                    </a>
                </div>
                <form class="mb-4" th:action="@{/register}" th:object="${accountDTO}" method="post">
                    <div class="mb-4">
                        <div class="form-group has-icon-left">
                            <input type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid' : ''"
                                   placeholder="Họ & Tên"
                                   name="fullName"
                                   th:field="*{fullName}">
                            <div class="form-control-icon">
                                <i class="bi bi-person-fill"></i>
                            </div>
                        </div>
                        <p class="text-danger mt-2"
                           th:if="${#fields.hasErrors('fullName')}"
                           th:errors="*{fullName}"></p>
                    </div>
                    <div class="mb-4">
                        <div class="form-group has-icon-left">
                            <input type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''"
                                   placeholder="Số Điện Thoại"
                                   name="phone"
                                   th:field="*{phone}">
                            <div class="form-control-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <p class="text-danger mt-2"
                           th:if="${#fields.hasErrors('phone')}"
                           th:errors="*{phone}"></p>
                    </div>
                    <div class="mb-4">
                        <div class="form-group has-icon-left">
                            <input type="email" class="form-control"
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                   placeholder="Địa Chỉ Email"
                                   name="email"
                                   th:field="*{email}">
                            <div class="form-control-icon">
                                <i class="bi bi-envelope-fill"></i>
                            </div>
                        </div>
                        <p class="text-danger mt-2"
                           th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"></p>
                    </div>
                    <div class="mb-4">
                        <div class="form-group has-icon-left">
                            <input type="password" class="form-control"
                                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                   placeholder="Mật Khẩu"
                                   name="password"
                                   th:field="*{password}">
                            <div class="form-control-icon">
                                <i class="bi bi-key-fill"></i>
                            </div>
                        </div>
                        <p class="text-danger mt-2"
                           th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"></p>
                    </div>
                    <div class="mb-4">
                        <div class="form-group has-icon-left">
                            <input type="password" class="form-control"
                                   th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                                   placeholder="Xác Nhận Mật Khẩu"
                                   name="confirmPassword"
                                   th:field="*{confirmPassword}">
                            <div class="form-control-icon">
                                <i class="bi bi-key-fill"></i>
                            </div>
                        </div>
                        <p class="text-danger mt-2"
                           th:if="${#fields.hasErrors('confirmPassword')}"
                           th:errors="*{confirmPassword}"></p>
                    </div>
                    <button type="submit" class="btn w-100" style="background: #2c79ff; color: #ffffff;">Đăng Ký
                    </button>
                </form>
                <p>Bạn Đã Có Tài Khoản? <a href="/login" style="color: #2c79ff">Đăng Nhập</a></p>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/resources/back/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/resources/back/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/resources/back/js/apexcharts.js}"></script>
<script th:src="@{/resources/back/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/back/js/main.js}"></script>
<script th:src="@{/resources/back/js/chart-init.js}"></script>
</body>
</html>