<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Giới Thiệu | Transporter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/front/img/favicon.png}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/resources/front/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/aos.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/slick.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/default.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/style.css}">
    <link rel="stylesheet" th:href="@{/resources/front/css/responsive.css}">
</head>
<body>

<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->

<div th:replace="~{fragments/front/header :: header}"></div>

<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" data-background="/resources/front/img/bg/breadcrumb_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2>Giới Thiệu</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- about-area -->
    <section class="about-area pt-100 pb-100">
        <div class="container">
            <div class="row align-items-xl-center">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img/images/about_img.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h4 class="title">Our Story</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting indust orem Ipsum has been
                            the industry's standard
                            dummy texever since the when anunknown printer took a galley of type and scrambled it to
                            make a type specimen book.</p>
                        <p>Dorem Ipsum is simply dummy consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna
                            aliqua. Ut enim ad minim veniam</p>
                        <div class="our-mission-wrap">
                            <h4 class="title">Mission of Our Creative House</h4>
                            <div class="our-mission-list">
                                <div class="mission-box">
                                    <div class="mission-icon">
                                        <i class="flaticon-project"></i>
                                    </div>
                                    <div class="mission-count">
                                        <h2><span class="odometer" data-count="324">00</span>+</h2>
                                        <span>Projects</span>
                                    </div>
                                </div>
                                <div class="mission-box">
                                    <div class="mission-icon">
                                        <i class="flaticon-revenue"></i>
                                    </div>
                                    <div class="mission-count">
                                        <h2>$<span class="odometer" data-count="3">00</span>M</h2>
                                        <span>Revenue</span>
                                    </div>
                                </div>
                                <div class="mission-box">
                                    <div class="mission-icon">
                                        <i class="flaticon-quality"></i>
                                    </div>
                                    <div class="mission-count">
                                        <h2><span class="odometer" data-count="379">00</span>+</h2>
                                        <span>Awards</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area-end -->

    <!-- features-area -->
    <section class="features-area theme-bg pt-100 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-70">
                        <span class="sub-title">Why Choose Us</span>
                        <h2 class="title">experience in setting up</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="features-wrap-item mb-30">
                        <div class="features-icon">
                            <i class="flaticon-shuttle"></i>
                        </div>
                        <div class="features-content">
                            <h5>Home Fast Delivery</h5>
                            <p>Lorem Ipsum simply dumm the printing and typesetting indust orem Ipsum has been the
                                industry standard dummy men book.</p>
                            <div class="features-item-list">
                                <ul>
                                    <li>Smart UHD TV</li>
                                    <li>Snow Frost in Freezer</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="features-wrap-item mb-30">
                        <div class="features-icon">
                            <i class="flaticon-secure-payment"></i>
                        </div>
                        <div class="features-content">
                            <h5>Secure Payment</h5>
                            <p>Lorem Ipsum simply dumm the printing and typesetting indust orem Ipsum has been the
                                industry standard dummy men book.</p>
                            <div class="features-item-list">
                                <ul>
                                    <li>24/7 Support</li>
                                    <li>Money back in 15 days</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="features-wrap-item mb-30">
                        <div class="features-icon">
                            <i class="flaticon-24-hours-support"></i>
                        </div>
                        <div class="features-content">
                            <h5>24/7 Customer Support</h5>
                            <p>Lorem Ipsum simply dumm the printing and typesetting indust orem Ipsum has been the
                                industry standard dummy men book.</p>
                            <div class="features-item-list">
                                <ul>
                                    <li>Smart UHD TV</li>
                                    <li>Snow Frost in Freezer</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features-area-end -->

</main>
<!-- main-area-end -->

<div th:replace="~{fragments/front/footer :: footer}"></div>

<!-- JS here -->
<script th:src="@{/resources/front/js/vendor/jquery-3.5.0.min.js}"></script>
<script th:src="@{/resources/front/js/popper.min.js}"></script>
<script th:src="@{/resources/front/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/front/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/resources/front/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/resources/front/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/resources/front/js/owl.carousel.min.js}"></script>
<script th:src="@{/resources/front/js/jquery.odometer.min.js}"></script>
<script th:src="@{/resources/front/js/jquery.countdown.min.js}"></script>
<script th:src="@{/resources/front/js/jquery.appear.js}"></script>
<script th:src="@{/resources/front/js/slick.min.js}"></script>
<script th:src="@{/resources/front/js/ajax-form.js}"></script>
<script th:src="@{/resources/front/js/wow.min.js}"></script>
<script th:src="@{/resources/front/js/aos.js}"></script>
<script th:src="@{/resources/front/js/plugins.js}"></script>
<script th:src="@{/resources/front/js/main.js}"></script>
</body>
</html>
